<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>Black and white</title>
  </head>
  <body>
    <header>
      <h2 class="title"><span class="black">Black</span> and white</h2>
    </header>
    <section class="convertidor">
        <div class="descripcion">
            <p>Redimensiona y transforma tus imágenes a blanco y negro</p>
        </div>
        <div>
      <form action="/cargar">
        <div>
        <label for="imagen" class="label">Imagen URL</label>
      </div>
      <div>
        <input name="imagen" id="imagen" type="text"/>
      </div>
      <div>
        <button type="submit" class="btn">Subir imagen al servidor</button>
      </div>
      </form>
    </div>
    </section>
  </body>
</html>
